body {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    padding: auto;
    background-image: url(Background.jpg);
    color: rgb(0, 0, 0);
    

}
.container{
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ddddc9;
}
nav ul li a {
    display: block;
    color: rgb(100, 100, 100);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li {
    float: left;
}
 
nav li a:hover:not(.active) {
    background-color: #ddd1d1;
}
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


.about{
    text-align: left;
    padding-left: 50px;
    padding-top: 30px;
}